head
    link(type="text/css", rel="stylesheet", href="/css/contact.css")
body
    div
        p Liz Miller
        p Email: TBD
        p Phone
            br
            | Landline: TBD
            br
            | Cell: (330) 719-3367
        p Address
            br
            | 3776 Pothour Wheeler Rd
            br
            | Hubbard, Ohio 44425
        p Hours: M-F 6am-6pm