@import "/css/constants.css";
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    height: 100%;
}

.logOut {
    float: right;
    position: absolute;
    margin-right: 5px;
    margin-top: 5px;
    top: 0px;
    right: 0px;
    width: 100px;
}

.logOut form button {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.tabordion {
  padding-top: 20px;
  color: var(--textColor);
  display: block;
  font-family: "MechanicalMachine", arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
  padding-top: 1px;
}

.tabordion section label {
  background: var(--bgGreyDarker);
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
  border-radius: 20px 0px 0px 20px;
}

.tabordion section content {
  display: none;
  left: 180px;
  min-width: 300px;
  height: 75vh;
  padding: 20px 0 0 21px;
  position: absolute;  
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  background-color: var(--bgGrey);
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/*.tabordion section content:after {
  background-color: var(--bgGrey);
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}*/

.tabordion input[name="sections"]:checked + label { 
  background: var(--bgGrey);
  color: var(--hoverColor);
}

.tabordion input[name="sections"]:checked ~ content {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 533px) {
  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section content {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section content:after {
    background-color: var(--transContentColor);
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  .tabordion {
    width: 70%;
  }
}